:root {
	/*COLORS*/
	--blue: rgb(154, 182, 206);
}
/*BASE*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: pink;
	font-family: Arial, Helvetica, sans-serif;
}
.rest {
	background-color: var(--blue);
}
/*SESSION CLYCLES*/
.session-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 20px;
}
.cycle {
	width: 40px;
	height: 40px;
	border: 2px solid black;
	border-radius: 20px;
	background-color: rgb(70, 70, 70);
}
.actual {
	background-color: rgb(255, 151, 47);
}
.completed {
	background-color: green;
}

/*CLOCK*/
.time-section {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	width: 100%;
}
#clock {
	color: black;
	font-size: 10rem;
	background-color: var(--blue);
	margin: 10px;
	padding: 20px;
	border-radius: 20px;
}
.buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.buttons button {
	padding: 20px;
	font-size: 1.2rem;
	border: none;
	border-radius: 5px;
	transition: all ease-in 0.2s;
}
.buttons button:hover {
	background-color: var(--blue);
}
